# Ignore Squad Repos
Web/
Mobile/
Flutter/
Android/
iOS/

# System Files
.DS_Store
.idea/
.vscode/
*.log

*.code-workspace

# Temporary PR Body templates
.pr_body*.md

# Temporary data files
project_items.json
