name: Root Documentation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Markdown Lint
      uses: DavidAnson/markdownlint-cli2-action@v16
      with:
        globs: "**/*.md"
